@tailwind base;

@tailwind components;

@tailwind utilities;

.LogoBig{
    background: url('./assets/bannière-V2.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.LogoSimple{
    background: url('./assets/logo-simple-V2.svg');
    background-repeat: no-repeat;
    background-position: center;
}